<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>

  <% if @access_token %>
  <div>
    <div class='tweet-display'></div>
    <br>
    <form id='tweet_out' action='/tweet_me' method='post'>
      <input type='text' name='tweet' placeholder='sound your barbaric YAWP'>
      <input type='submit' value='YAWP'>
    </form>
    <br>
    <div class='confirmation'></div> 
    <br><button><a href="/sign_out">Sign Out</a></button>
  </div>
  <% else %>
  <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>
  
</div>
